.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Python cache folders
__pycache__/

# Binary files
*.bin
!policies/sample.bin

# Config files
*.cfg
!configs/sample.cfg