.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Python cache folders
__pycache__/

# Binary files
*.bin
!policies/example.bin

# Config files
*.cfg
!configs/example.cfg
!configs/extension_example.cfg
!configs/template.cfg

# Train data files
*.json
!train_datas/example.json